// ==============================
// variables
// ==============================

// Colors
$text: #222;

// Presets
$white: #fff;
$black: #000;
$gray: #ccc;
$red: #ff6961;
$yellow: #ffff7f;
$orange: #ffbf7f;
$blue: #49bfd0;
$lightBlue: #7fffff;
$green: #7fff7f;

// Variable
$headerHeight: 80px;
$footerHeigth: 40px;
